link(href="/stylesheets/index.css" rel="stylesheet")

div.login_panel
    form(action='/login', method='post')
      div
        label 用户名:
        input(type='text', name='username')
      div
        label 密码:
        input(type='password', name='password')
      div.submit
        input(type='submit', value='登录')