html
  head
    link(rel="stylesheet", href="/stylesheets/picselection/picselection.css")
    link(rel="stylesheet", href="/stylesheets/common/jquery.Jcrop.min.css")
    script(type='text/javascript', src='/javascripts/lib/jquery-1.11.1.min.js')
    script(type='text/javascript', src='/javascripts/common/jquery.Jcrop.min.js')
    script(type='text/javascript', src='/javascripts/picselection/picselection.js')


  body
    div.container
      div.hd
        div.city(data-id='111')
          | 名字:
          b *
        div.imgCnt
          | 图片总数:
          b *
        div#submit.submit(data-submit="true")
          | 提交
        div#next.next
          | 下一个
        div.cityCnt
          div.restCity
            | 未完成:
            b *
          div.doneCity
            | 已完成:
            b *
      form
    .sd_layer
    .img_layer
      .img_can
      .coords#coords
        i.close#close
        #imgSubmit.imgSubmit 确定
        .inline-labels
          .labelBox
            | 裁剪尺寸 :
            label cutW
              input#w(type="text" size="4" name="w")
            label cutH
              input#h(type="text" size="4" name="h")
          .labelBox
            | 当前尺寸 :
            label curW
              input#cw(type="text" size="4" name="cw")
            label curH
              input#ch(type="text" size="4" name="ch")
          .labelBox
            | 原图尺寸 :
            label oriW
              input#ow(type="text" size="4" name="ow")
            label oriH
              input#oh(type="text" size="4" name="oh")
          .labelBox
            | 选框坐标 :
            label cX1
              input#x1(type="text" size="4" name="x1")
            label cY1
              input#y1(type="text" size="4" name="y1")
            label cX2
              input#x2(type="text" size="4" name="x2")
            label cY2
              input#y2(type="text" size="4" name="y2")