html
  head
    link(rel="stylesheet", href="/stylesheets/picselection.css")
    script(type='text/javascript', src='/javascripts/jquery-1.11.1.min.js')
    script(type='text/javascript', src='/javascripts/picselection.js')


  body
    div.container
      div.hd
        div.city(data-id='111')
          | 名字:
          b *
        div.imgCnt
          | 图片总数:
          b *
        div#submit.submit(data-submit="false")
          | 提交
        div#next.next
          | 下一个
        div.cityCnt
          div.restCity
            | 未完成:
            b *
          div.doneCity
            | 已完成:
            b *
      form

